<launch>

  <!--
    Only spawn the Hydrone vehicle and start its controllers.
    Gazebo with aerial_underwater.world must already be running.
  -->

  <arg name="debug" default="0"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="10.0"/>
  <arg name="z" default="1.0"/>

  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="namespace" default="hydrone_aerial_underwater"/>
  <arg name="use_simplified_mesh" default="false"/>


  <!-- Hydrone namespace -->
  <group ns="$(arg namespace)">


    <!-- Generate robot_description -->
    <param
      name="robot_description"
      command="$(find xacro)/xacro '$(find hydrone_aerial_underwater_description)/robots/hydrone_aerial_underwater_aerial.xacro' --inorder use_simplified_mesh:=$(arg use_simplified_mesh) debug:=$(arg debug) namespace:=$(arg namespace) inertial_reference_frame:=world"/>


    <!-- Spawn Hydrone in the already-running Gazebo -->
    <node
      name="urdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false"
      output="screen"
      args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/robot_description"/>


    <!-- RotorS Lee Position Controller -->
    <node
      name="lee_position_controller_node"
      pkg="rotors_control"
      type="lee_position_controller_node"
      output="screen">

      <rosparam command="load" file="$(find hydrone_aerial_underwater_gazebo)/resource/lee_controller_hydrone.yaml"/>

      <rosparam command="load" file="$(find hydrone_aerial_underwater_gazebo)/resource/hydrone.yaml"/>

      <remap from="odometry" to="odometry_sensor1/odometry"/>

    </node>


    <!-- TF / joint-state related nodes -->
    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher"
      output="screen"/>

    <node
      name="joint_state_publisher"
      pkg="joint_state_publisher"
      type="joint_state_publisher"
      output="screen"/>

  </group>


  <!-- Ground truth pose to TF -->
  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/$(arg namespace)/base_link"/>
  </include>


</launch>
